name: python_package_ci

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "src/**"
      - "tests/**"
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/**"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - "3.11"

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create Environment and Install Dependencies
        run: |
          python -m pip install --upgrade uv
          uv venv
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            . .venv/Scripts/activate
          else
            . .venv/bin/activate
          fi
          echo PATH=$PATH >> $GITHUB_ENV
          uv pip install -r requirements-dev.txt

      - name: Install Package in Editable Mode
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            . .venv/Scripts/activate
          else
            . .venv/bin/activate
          fi
          pip install -e .

      - name: Run pytest - Unit Tests
        run: pytest . --cov=src --cov-report=term-missing --cov-fail-under=85 --cov-config=./pyproject.toml
